{
  "branches": [
     "main",
     {"name": "hotfix/*", "prerelease": "hotfix"},
     {"name": "rc/*", "prerelease": "rc"}
  ],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/changelog", 
      {
        "changelogFile": "changelog.md",
        "changelogTitle": "# sem-rel"
      }
    ],
    [
      "@semantic-release/git", 
      {
        "assets": "changelog.md"
      }
    ]
  ]
}
